.container {
  height: 600px;
  width: 600px;
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mat-form {
  margin-top: 20px;
}
